<template name="bonus_pts">
	<div id="welcome-instruction" class="instruction">
		<p>In this study, we would like to test how people react to a peer evaluation system. Your bonus will be depending on how your answer matches another participant’s (your matched peer -- this peer will be randomly selected) answer, but scaled based on how popular the answer is.</p>
		<p>Suppose when we know the true answer, you will get <span style="color:red">5c</span> bonus whenever your answer is correct. Suppose now your answer for a particular question is 1. Your matched peer’s answer happens to be 1. Say among all answers, the fraction of 1 is 30%. You will be payed:</p>
		<br>
		<p><span style="color:red">1/30% * 5c ~ 15c</span>. Basically this is to reward you based on how popular the answer is.</p>
		<br>
		<p>Whenever you are ready, click on the button below to proceed. Enjoy the task!</p>
	</div>
	<div id="buttonArea">
		<a href="" class="btn" id="welcome-btn">Consent</a>
	</div>
</template>
