<template name="bonus">
	<div id="welcome-instruction" class="instruction">
		<p>In this study, we would like to test how people react to a peer evaluation system. The idea is quite simple: when we do not know the ground-truth to evaluate your answer fairly, we try to infer it from your peers’ answers. It’s okay that your peers can be wrong (in any possible way, even if you don’t trust any of the recruited peers) -- we will learn that out :) A very wrong answer is informative too if you know that it is more likely to be wrong. After all, your answer is as if evaluated against the ground-truth! So we hope this introduce a fair evaluation system for information elicitation.</p>
		<br>
		<p>The HIT takes about <span style="color:red">5 to 10</span> mins. In this HIT, you will first be given a tutorial to know our method a bit more (takes <span style="color:red">~2-3</span> mins). We will provide feedbacks on your performance of the finished tasks, and a performance contingent bonus will be issued to you (to thank you!).</p>
	</div>
	<div id="buttonArea">
		<a href="" class="btn" id="next-btn">Explaining the system</a>
	</div>
</template>
