<template name="candy_explanation">
	<div id="welcome-instruction" class="instruction">
		<img src="/images/candyland.jpg" id="candy-explain-image">
		<p>Welcome to the wonderland of Candy! While travelling the realm, you and your friends come across two gingerbread houses. One is the M&M house and the other is the gummy bear house. Each of you walk into a house and receive a candy, the house you walk into is random. Only you yourself know which candy you have received, no one else.</p>
    <p>Each house is supposed to give out only their respective type of candy (i.e. M&M for M&M house).  However, because the gingerbread men tend to make mistakes, you may receive a Gummy bear even when you are in the M&M house, or vice-versa. Therefore, you cannot know for sure which house you are in.</p>
    <p>After thanking the gingerbread men, your group has resumed travelling when you all come across a magical signpost. The signpost privately asks each of you what candy you got from the gingerbread houses. It tells you it will reward you based on how your report matches the reports from other people who walked into the same house as you.</p>
		<img src="/images/peereval.png" id="candy-explain-image2">
	</div>
	<div id="buttonArea">
		<a href="" class="btn" id="welcome-btn">Continue</a>
	</div>
</template>
