<template name="game">
	<div id="welcome-instruction" class="instruction">
		<h2>Round <span id="round-number">{{text}}</span></h2>
		<span id="game-header"><h3>A new house has been randomly chosen</h3></span>
		<img src="/images/houses.png" id="game-image">
	</div>
	<div id="candyArea">
		<button type="button" class="btn" id="candy-btn">Click to get candy</button>
	</div>
	<div id="buttonArea">
		<a href="" class="btn" style="visibility: hidden;" id="welcome-btn">Next</a>
	</div>
</template>
