<template name="intro">
	<div id="welcome-instruction" class="instruction">
    <p>In this HIT, you will take two types of tasks: first one is a candy house game, where you will receive candies and be asked about which candy you get. The second one is a simply object recognition task from images where you will be asked whether two animals in the pictures are from the same breed. For instance you may be asked:</p>
    <div id="imageAreaLeft">
      <img src="/images/pairs/1/a.jpg" id="pair-image">
    </div>
    <div id="imageAreaRight">
      <img src="/images/pairs/1/b.jpg" id="pair-image">
    </div>
    <p><span style="font-weight:bold">Are the two birds from different breeds?</span></p>
    <p>You'll receive a base payment of <span style="color:red">$0.25</span> immediately after you complete the entirely HIT. Moreover, you will receive a bonus for each of the tasks you finish (Received within 24 hours). In total, you may expect <span style="color:red">$1</span> payment from participating this HIT. The exact experiment as well as how we calculate your exact bonus payment will be introduced in details after you have accepted this HIT.</p>
		<p><span style="font-weight:bold">Note: Please do not refresh this page or use the back button while completing the task.</span></p>
  </div>
	<div id="buttonArea">
		<a href="" class="btn" id="welcome-btn">Continue</a>
	</div>
</template>
