<template name="real_image_game">
	<div id="welcome-instruction" class="instruction">
		<h2>Image Task Round <span id="round-number">{{roundNum}}</span></h2>
		<div id="imageArea">
			<div id="imageAreaLeft">
				<img src={{taskImageLeft}} id="pair-image">
			</div>
			<div id="imageAreaRight">
				<img src={{taskImageRight}} id="pair-image">
			</div>
		</div>
		<h3 id="task-question">Do the two images above contain members from the same species?</h3>
	</div>
	<div id="answerArea">
    <div id="answerAreaLeft">
      <button type="button" class="btn" id="submit-yes">Yes</button>
    </div>
    <div id="answerAreaRight">
      <button type="button" class="btn" id="submit-no">No</button>
    </div>
  </div>
	<div id="buttonArea">
		<a href="" class="btn" style="visibility: hidden;" id="welcome-btn">Next Task</a>
		<a href="" class="btn" style="visibility: hidden;" id="next-btn">Done</a>
	</div>
</template>
