<template name="tutorial_explanation">
	<div id="welcome-instruction" class="instruction">
    <p>You are now entering the tutorial phase. In this practice phase, you will have the chance to explore the game in a simulated environment. You will be able to see your average bonus from round to round, as well as the average bonus you would have gotten had you played a different strategy. There are five tutorial rounds for both the candy and image tasks.</p>
  </div>
	<div id="buttonArea">
		<a href="" class="btn" id="welcome-btn">Continue</a>
	</div>
</template>
